<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1 style="color: red">Satheesh</h1>
<h2>welcome</h2>
<table border="2px">
	<tr>
		<th>sNO</th>
		<th>Name</th>
		<th>Rollno</th>
	</tr>
	<tr>
		<td>1</td>
		<td>satheesh</td>
		<TD>566</TD>
	</tr>
	<tr>
		<td>2</td>
		<td>ravi</td>
		<TD>142</TD>
	</tr>
	</tr>
</table>


<a href="https://www.google.com/" target="blank">Google</a>


<ul>
	<li>hari</li><br>
	<li>raju</li>
</ul>
<hr>
<ol>
	<li>hari</li>
	<li>raju</li>
</ol>
<p>jaejkaewhfwefwerhfwefsefnjshufdsafdkjsadfadfadnfjsadfsdfsdfasdnfjhbwgfidsffsdfsndfhwgwfiusjdcsmdnffuinsbdfnsdnfuwsfbsadfnsda</p>

<form>
	<input type="text" name=""><br><br>
	<input type="password" name="">
<br><br>
	<button style="color: green;background-color: red">Submit</button>
</form>


<img src="" height="" width="">

<iframe src="" height="100px"></iframe>


<b><i><h6>APSSDC</h6></i></b>

</body>
</html>